.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid 1px gray;
  background-color: transparent;


  .prefix {
    display: inline-block;
    padding-left: 3px;

  }

  input {

    width: 100%;
    border: none;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    outline: none;
    -webkit-appearance: none;

  }

  ::placeholder {
    color: lightgrey;
    opacity: 1;
  }
  input.placeholder-hidden-on-focus:focus::placeholder {
      opacity: 0;
  }

}
